:root {
    --CLOUD: #f4f4fd;
    --CORNFLOWER: #e7e9fc;
    --IRIS: #4d5ae5;
    --NAVY-BLUE: #2e2f42;
    --SLATE: #434455;
    --WHITE: #fff;
    --OCEAN: #404bbf;
    --LIGHT-SLATE: #8e8f99;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #fff;
}

a,
.link {
    text-decoration: none;
    color: inherit;
}
ul,
ol {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

img {
    display: block;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */
.head {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}
.logo {
    color: var(--IRIS);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}
.logo-part {
    color: var(--NAVY-BLUE);
}

.menu-link {
    display: inline-block;
    color: var(--NAVY-BLUE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN);
}
.menu-item {
    width: calc((100% - 80px) / 3);
}
.current {
    color: var(--OCEAN);
}
.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--OCEAN);
    border-radius: 2px;
}

.address {
    display: flex;
    gap: 40px;
}
.address-info {
    display: block;
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-info:hover,
.address-info:focus {
    color: var(--OCEAN);
}
.address-item {
    flex-basis: calc((100% - 40px) / 2);
}

/* MAIN */
/* Hero Section */
.hero-section {
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.hero-title {
    color: var(--WHITE);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
    max-width: 496px;
    white-space: normal;
    /* margin-bottom: 48px; */
}
.hero-btn {
    border: none;
    background-color: var(--IRIS);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--OCEAN);
}

/* Section 2 - Mastery */
.mastery-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.mastery-list {
    display: flex;
    gap: 24px;
}
.mastery-item {
    width: calc((100% - 72px) / 4);
}
.mastery-icon {
    width: 264px;
    height: 112px;
    background-color: var(--CLOUD);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
}
/* .mastery-icon svg {
    width: 64px;
    height: 64px;
} */
.mastery-title {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.mastery-text {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

/* Activites */
.activites-section {
    padding-bottom: 120px;
}

.activites-list {
    display: flex;
    gap: 24px;
}
.activites-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.activites-item {
    background: var(--CORNFLOWER);
}

/* Our Team */
.our-team-section {
    background-color: var(--CLOUD);
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-cards {
    display: flex;
    gap: 24px;
}
.team-card {
    background: var(--WHITE);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.person-info {
    padding: 32px 0;
}
.team-card h3 {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-card p {
    margin: 0px;
    color: var(--SLATE);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.team-icon-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS);
    border-radius: 50%;
    text-align: center;
    transition-property: background-color;
}
.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--OCEAN);
}
.team-icon-link svg {
    width: 16px;
    height: 16px;
}

/* Customers */
.customers {
    padding: 120px 0;
}
.customers-title {
    text-align: center;
    color: var(--NAVY-BLUE);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customer-link {
    width: 168px;
    height: 88px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    display: flex;
    align-items: center;
    justify-content: center;
}
.customer-link svg {
    width: 104px;
    height: 56px;
}

/* Footer */
.footer-container {
    display: flex;
    gap: 120px;
}
.footer {
    background: var(--NAVY-BLUE);
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-foot {
    display: inline-block;
    margin-bottom: 16px;
}
.logo-white {
    color: var(--CLOUD);
}
.footer-text {
    color: var(--CLOUD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-top: 16px;
    width: 264px;
}
.footer-media-title {
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.media-icons-list {
    display: flex;
    gap: 16px;
}

/* -- Portfolio -- */
/* Buttons */
.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.buttons {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}
.btn {
    background-color: var(--CLOUD);
    color: var(--IRIS);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    transition-property: color, background-color;
}
.btn:hover,
.btn:focus {
    color: var(--WHITE);
    background-color: var(--OCEAN);
    border: 1px solid transparent;
}

/* Section Portfolio */
.services {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.row-item {
    border: 1px solid var(--CORNFLOWER);
    width: calc((100% - 48px) / 3);
}
.row-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.row-item-title {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.row-item-text {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.overlay {
    position: relative;
    overflow: hidden;
}
.row-item-link:hover .overlay p {
    transform: translateY(0);
}
.overlay p {
    color: var(--CLOUD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 300px;
    background-color: var(--IRIS);
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
    padding-top: 40px;
    padding-right: 32px;
    padding-left: 32px;
}
